p, body {
	text-align: center;
	font-family: 'Sawarabi Gothic', sans-serif;
}
header,
footer {
	font-family: 'Fraunces', serif;
	color: #2a3318;
	padding: 10px;
	background-color: #627691;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;

}

footer {
	font-size: 13px;
    letter-spacing: 1.5pt;
    font-weight: bolder;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Fraunces', serif;
    color: #2a3318;
	background-color: #627691;
	font-size: 1.5rem;
	margin: 0.15rem;
}


header,
footer {
	background-color: #D2D5D9;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}
h2 {
	color: #2a3318;
}

nav {
    margin: 0 auto;
    background-color: #36454f;
	box-shadow: 0 2px 15px gray;
}
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-weight: 700;
}
.navigation a:hover {
	background-color: #bbb;
    color: #36454f;
    font-weight: 700;
}
.responsive li {
    display: block;
}

.primary {
	background-color: #5F7336;
}
.secondary {
	background-color: #898C2E;
}
.accent1 {
	background-color: #7EA5D9;
}
.accent2{
	background-color: #A67041;
}

#colors   {
	width: 200px;
	height: auto;
}

p.colored {
	background-color: #A67041;
	color: #ffffff;
  }

  #mom, #dad  {
	width: 200px;
	height: auto;
}

.clearFix {
	overflow: auto;
}