  
@media only screen and (min-width: 60em) {

	
	nav a {
		font-size: 1.1rem;
	}

	.contentBox {
        background-color: #ccc;
	}
	

	.weatherSummary {
		left: 2.25rem;
	}

	figcaption {
		display: inherit;
	}

	header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
	}
	
	form label.sbs {
		padding: .4rem 0;
	}

	.cardstwo {

		width: 960px;
	}

	.cards {
		display: inline-grid;
		grid-template-columns: auto auto auto;
		width: 960px;
	}


	.cards section {
		display: inline-block;
	}
	

}
