
@media only screen and (min-width: 22.5em) {
	
    .heroDiv {
        margin: 10px auto;
        position: relative;
        width: 760px;
        height: 300px;
    }
    
    .navigation { 
        display: flex; 
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li { 
        display: block;
        flex: 1 1 100%; 
    }
    .navigation li a {
		color: yellow;
    }

    .contentBox {
        background-color: #bed;
    }

    .weatherSummary {
        position: absolute;
        top: 1rem;
        left: 1rem;
        position: absolute;
        background: radial-gradient(#eee, #5F7336);
        border: 1px solid #000;
        padding: 1.5rem;
        box-shadow: 0 0 30px #777;
        opacity: .75;
    }

    #prestonMap {
        display: flex;
        float: left;
    }

    #fiveDayForecast {
        display: block;
    }

    .weatherGalleryPhotos {
        display: inline-grid;
        grid-template-columns: auto auto;
    }



    
    .cards {
        max-width: 80%;
        margin: .5rem auto;
        border: 1px solid #bbb;
        background-color: #eee;
        display: flex;
        flex-wrap: wrap;
    }

    section {
        display: flex;
        flex-direction: row;
    }

    section:nth-child(odd) {
        flex-direction: row-reverse;
    }

}